<h1>Ingredients in the Recipe <%= @recipe.name %></h1>
<p>Cook: <%= link_to @recipe.user.name, user_path(@recipe.user) %></p>
<div class="ingredients-list">
  <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
    <h3><%= recipe_ingredient.ingredient.name %></h3>
    <em>Recipe Note:</em>
    <div>
      <%= recipe_ingredient.notes %>
    </div>
      <% if @recipe.user === current_user %>
        <%= link_to "Add/Edit Note", recipe_ingredient_path(recipe_ingredient) %>
        <!-- <a href="#" class="new-note" recipe-ing-id="<%=recipe_ingredient.id %>">Add/Edit Note</a>
        <% @recipe_ingredient = recipe_ingredient %>
        <div class="new-note-form-<%=recipe_ingredient.id %>" > -->
        </div>
      <% end %>
      <p></p>
  <% end %>
</div>

<h4><a href="#" class="new-ingredient">+ Add New Ingredient to Recipe</a></h4>
<div class="new-ingredient-form"></div>

<p><%= link_to "Back to Recipe", recipe_path(@recipe) %></p>

<script type="text/javascript">
$(function () {

function Ingredient(name, notes, recipe_id) {
  this.name = name
  this.notes = notes
  this.recipe_id = recipe_id
}

Ingredient.prototype.formatIngredient = function() {
  ingredientHTML = `<li>${this.name}</li><p>New format</p>`
  return ingredientHTML
}

  $(".new-ingredient").on("click", function() {
    $('.new-ingredient-form').html(` <%= render partial: 'new_ingredient' %> `)
    $('.edit_recipe').on("submit", function(ingredient) {
      debugger
      $('.ingredients-list').append(ingredientHTML);
      event.preventDefault();
    });
    event.preventDefault();
  });



});

$(function () {
  $(".new-note").on("click", function() {
    var recipeIng = $(".new-note").attr("recipe-ing-id");
    var newNoteForm = ".new-note-form-" + recipeIng
    var recipeIngredient = `#{@recipe_ingredient}`
    $(newNoteForm).html(` <%= render partial: 'new_note', :recipe_ingredient => `#{@recipe_ingredient}` %>`)
    event.preventDefault();
  });
});
</script>
