<h1>Ingredients in the Recipe <%= @recipe.name %></h1>
<p>Cook: <%= link_to @recipe.user.name, user_path(@recipe.user) %></p>
<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
<h3><%= recipe_ingredient.ingredient.name %></h3>
<em>Recipe Note:</em> <%= recipe_ingredient.notes %>
<br>
  <% if @recipe.user === current_user %>
    <%= link_to "Add/Edit Note?", recipe_ingredient_path(recipe_ingredient) %>
  <% end %>
  <p></p>
<% end %>
<h4><%= link_to "+ Add New Ingredient to Recipe", recipe_ingredient_new_path %></h4>


<p><%= link_to "Back to Recipe", recipe_path(@recipe) %></p>
