<h2>Log In </h2>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<%= form_tag sessions_path do %>
<!--no form_for because not working with a model, use sessions_path for sessions#create action-->
    <div class="form-control">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="form-control">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
    <br></br>
    <%= submit_tag "Log In", class: "btn btn-primary" %>
  <% end %>
<br></br>
<%= link_to('Login with Google', '/auth/google_oauth2') %>
