<div>
  <div class="form-group">
    <%= form_for @recipe do |f| %>
    <%= f.label "Recipe Name", :class => "h4" %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <h4>Ingredients:</h4>
       <%= f.fields_for :ingredients, @recipe.ingredients do |ingredients_form| %>
           <%= ingredients_form.label :name %>
           <%= ingredients_form.text_field :name %>
           <br>
       <% end %>
  </div>

  <div class="form-group">
    <%= f.label "Instructions", :class => "h4" %>
    <%= f.text_area :instructions, :class => "exampleTextarea" %>
  </div>

  <div class="form-group">
    <%= f.label "Categories", :class => "h4" %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, :class => "form-check-label" %><br>
    <%= f.fields_for :categories, @recipe.categories.build do |categories_field| %>
      <br><%= f.label "And/or Create New Category", :class => "h4" %>
      <%= categories_field.text_field :name %>
    <% end %>
  </div>

    <%= f.hidden_field :user_id, :value => current_user.id  %>

    <%= f.submit :class =>"btn btn-primary" %>
  <% end %>
  <br>
</div>
