<h2><%= @recipe.name %></h2>
<p>Made by: <%= @recipe.user.name %> </p>
<h3>Categories:</h3>
<% @recipe.categories.each do |category| %>
  <%= link_to category.name, category_path(category) %><br>
<% end %>

<h3>Ingredients:</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <br>
<% end %>
</ul>

<h3>Instructions:</h3>
<p><%= @recipe.instructions %> </p>

<% if current_user == @recipe.user %>
  <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
<% end %>
