<div class="card mb-3">
  <h3 class="card-header"><%= @recipe.name %></h3>

  <div class="card-body">

    <h5 class="card-title">Made by: <%= @recipe.user.name %>, <%=link_to @recipe.user.email, user_path(@recipe)%> </h5>
    <h5 class="card-title">Categories:</h3>
    <% @recipe.categories.each do |category| %>
      <%= link_to category.name, category_path(category) %><br>
    <% end %>

    <h5 class="card-title">Ingredients:</h5>
    <ul class="list-group list-group-flush">
      <% @recipe.ingredients.each do |ingredient| %>
      <li class="list-group-item">
        <%= link_to ingredient.name, ingredient_path(ingredient) %>
        <% recipe_ingredient = RecipeIngredient.find_by(recipe_id: @recipe.id, ingredient_id: ingredient.id) %>
        <%= recipe_ingredient.notes %>
      </li>
      <br>
    <% end %>
    </ul>

    <h5 class="card-title">Instructions:</h5>
    <h6 class="card-subtitle text-muted"><%= @recipe.instructions %> </h6>

    <% if current_user == @recipe.user %>
      <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
    <% end %>

  </div> <!-- div card body-->
</div>
