<h2><%= @recipe.name %></h2>
<h3>Categories:</h3>
<% @recipe.categories.each do |category| %>
  <%= link_to category.name, category_path(category) %><br>
<% end %>

<h3>Ingredients:</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <br>
<% end %>
</ul>

<h3>Instructions:</h3>
<p><%= @recipe.instructions %> </p>

<h4><%= link_to 'See All Recipes', recipes_path %></h4>
