<div class="card-header">
  <h4><%= @recipe.name %></h4>
</div>

<div>
  <a href="#" class="js-prev" data-id="<%=@recipe.id%>">...Previous Recipe</a>
  <a href="#" class="js-next" data-id="<%=@recipe.id%>">Next Recipe...</a>
  <div class="recipeIngredients"><h3>Ingredients:</h3>
    <ul class="ingredientsList"><% @recipe.ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
    <% end %>
  </div>
  </ul>

  <div><h3>Instructions:</h3>
  <p class="recipeInstructions"><%= @recipe.instructions %></p>
  </div>
</div>
