<h2>Sign Up Here</h2>
<%= form_for(@user) do |f| %>
  <%= f.text_field :name, placeholder: "Enter full name", class: "form-control", value: "Name" %><br>
  <%= f.text_field :email, placeholder: "Enter email", class: "form-control", value: "Email" %><br>
  <%= f.password_field :password, placeholder: "Password", class: "form-control", value: "Password" %> <br>
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control", value: "Password Confirmation" %> <br>
  <%= f.submit class: "btn btn-primary", name: "Create User" %>
 <% end %>
