<div>
  <h1>All Categories</h1>
  <p><%= link_to 'Sort by Most Popular',sort_by_popularity_categories_path %></p>
  <p><%= link_to 'Sort by Name',sort_ABC_categories_path %></p>
  <div class="categories-container">
    <ul class="list-group">
      <% @categories.each do |category| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#" class="load-recipes" id="<%=category.id%>"><%= category.name %></a>
        <!-- <%= link_to category.name, category_path(category)%> -->
        <span class="badge badge-primary badge-pill"><%= pluralize(category.recipes.count, "recipe") %></span>
      </li>
      <!-- <div class="recipes-container-<%=category.id%>"></div> -->
      <% end %>
    </ul>
  </div>
  <div class="recipes-container"></div>
</div>

<script type="text/javascript">

$(function () {

$("a.load-recipes").on("click", function() {
  var div = $(".recipes-container")
  var id = this.id
  $.get("/categories/" + id + ".json").success(function(recipes) {
    recipes.forEach(function(recipe) {
      var name = recipe.name
      var recipeId = recipe.id
      var recipeHTML = `<p><a href="/recipes/${recipeId}">${name}</a></p>`
      div.html("")
      div.append(recipeHTML)
    })
  });
  event.preventDefault();
});
})

</script>
